*{
    background-color: #181616;
    padding: 0px;
    margin: 0px;
}

.text {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 26px;
    font-size: 18px;
    position: relative;
    left: 73px;
}
.alltext{
    color: white;
    display: flex;
    flex-direction: row;
}

.gigi {
    font-size: 24px;
    margin: 0px 51px;
    font-family: -webkit-pictograph;
}
.gi1 {
    margin: 22px 51px;
    font-family: -webkit-pictograph;
}
.gi2 {
    margin: 22px 51px;
    font-family: -webkit-pictograph;
}

.frems {
    width: 712px;
    height: 430px;
    border: 2px solid white;
    margin: -15px;
    background: transparent;
}
.mainfrems {
    width: 713px;
    height: 430px;
    border: 2px solid white;
    margin: 15px 30px;
    position: relative;
    top: -42px;
    left: 48px;
}
.image{
    height: 300px;
    width: 300px;
   
   
}
.alldown{
    display: flex;
    flex-direction: row;
}
.model {
    width: 740px;
    height: 654px;
    max-width: 814px;
    position: relative;
    top: -187px;
    right: -34px;
    transform: scaleX(0.9);
}
.photogroup {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 131px;
    left: 0px;
    margin-left: 31px;
}

.groupone {
    height: 245px;
    width: 322px;
    background-color: rgb(198, 199, 195);
}
.grouptwo {
    height: 245px;
    width: 322px;
    margin-left: 30px;
    background-color: rgb(198, 199, 195);
    margin-right: 17px;
}

.p1 {
    height: 88px;
    width: 100px;
    margin: 25px 10px;
    border-radius: 6px;
}
.p2 {
    height: 123px;
    width: 140px;
    margin: 10px 10px;
    border-radius: 6px;
    margin-left: 25px;
}
.p3 {
    height: 106px;
    width: 115px;
    margin: 10px 10px;
    position: relative;
    top: -25px;
    border-radius: 6px;
}
.p4 {
    height: 100px;
    width: 161px;
    position: relative;
    top: -33px;
    border-radius: 6px;
}

.hr{
    margin-top: 24px;
}
.line {
    background-color: white;
    height: 136px;
    width: 2px;
    position: relative;
    left: 427px;
    margin-top: 9px;
}
.checkmark {
    display: block;
    position: relative;
    top: -77px;
    left: 143px;
}
.information {
    color: white;
    position: relative;
    top: 49px;
    left: 495px;
}

.photoshoot {
    position: relative;
    top: 30px;
    left: 91px;
    top: 72px;
    color: white;
    font-size: 30px;
}
.pastwork{
    position: relative;
    top: 30px;
    left: 252px;
    top: 72px;
    color: white;
    font-size: 30px;
}
.information {
    color: white;
    position: relative;
    top: 5px;
    left: 495px;
}

/* media query */

@media screen and (max-width: 840px) {
   .alldown{
    flex-direction: column;
    position: relative;
    left: -55px;
}
   
   .model{
       top: -36px;
   }
   .mx{
    width: 262px;
   }
   .information {
    color: white;
    position: relative;
    top: 352px;
    left: 145px;
    padding-bottom: 20px;
}
   
  }